<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659934295028-ltsbfrf4u8d6nmtp7qp88qqh9pr9bhku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659934295028-ltsbfrf4u8d6nmtp7qp88qqh9pr9bhku</string>
	<key>API_KEY</key>
	<string>AIzaSyAXMSNpsQmU6lIL60ORyey__oSWhR2Xnuw</string>
	<key>GCM_SENDER_ID</key>
	<string>659934295028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yonnathan.fluttertest</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-app-69e43</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-app-69e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659934295028:ios:f64fe3c3da607c2d3effa1</string>
</dict>
</plist>